<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <h1> About </h1>
            <p> Page created by Alex Swiec to support people following up with their network </p>
        </div>
    </div>
</div>